@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}
.MuiInputBase-root{
    border: 1px solid;
    border-radius: 10px;
    padding: 0.2rem;
    border-color : #cca752;
    background-color :#191f45;
    margin-bottom: 0.2rem;
}